{% extends "django_imager/base.html" %}
{% load thumbnail %}
{% block body %}
{% if user.is_authenticated %}
    <li class="tab" data-content="entries"><a href="/profile" class="icon-home"> Profile</a></li>
    <li class="tab"><a href="/add_image"> Add Image</a></li>
    <li class="tab"><a href="/add_album"> Add Album</a></li>
{% else %}
    <li class="tab"><a href="/login"> Login</a></li>
{% endif %}
{% endblock %}
{% block create %}
<ul>
    {% for item in items %}
    {% thumbnail item.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endfor %}
{% for photo in albums %}
    <li class="icon-album" >
        <a href="{{ album.url }}">{{ album.title }}</a>
    </li>
</ul>
    <p class="album-title">Photos:</p>
<ul>
{% for photo in photos %}
    <li>
        <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" /></a>
    </li>
{% endfor %}
</ul>
{% endblock %}

