{% extends "django_imager/base.html" %}
{% block body %}
{% if user.is_authenticated %}
    <li class="tab" data-content="entries"><a href="/profile" class="icon-home"> Profile</a></li>
    <li class="tab"><a href="/library"> Library</a></li>
{% else %}
    <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
{% endif %}
{% endblock %}
{% block create %}
    <h1>Edit {{ model.title }}</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
{% endblock %}