
{% extends "django_imager/base.html" %}
{% block body %}
    ldksjdlfkjflskjlskdfjs
{% endblock %}
{% block create %}
lskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibuelskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibuelskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibuelskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibuelskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibuelskdjflaskdjslksdlkjsdlksjdlskjfbinuwviubeiuberbiubebvbiueibue
{% endblock %}
