<!DOCTYPE html>
  {% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/django_imager/style/modules.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/django_imager/style/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/django_imager/style/layouts.css' %}">
  </head>
  <body>
    <header class="site-header clearfix">
      <section class="heading-group-h1">
        <h1>JourNull EntTrees</h1>
      <nav class="main-nav">
        <div class="icon-menu"></div>
        <ul>
          <li class="tab" data-content="entries"><a href="/" class="icon-home"> Home</a></li>
          <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section class="login-view">
        <h2>Login</h2>
        <form action="" method="POST">
          {% csrf_token %}
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="control_row">
                <input type="submit" name="login" value="login"/>
            </div>
        </form>
        <section>
      <section class="new-entry">
        {% block create %}
        {% endblock %}
      </section>
      <section id="content" class="tab-content">
        {% block body %}
        {% endblock %}
      </section>
    </main>
    <footer>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>

