{% extends "django_imager/base.html" %}
{% block body %}
{% if user.is_authenticated %}
    <article class="icon-home">
        <ul>
            <li class="tab"><a href="/logout">Logout</a></li>
            <li class="tab" data-content="entries"><a href="/profile" class="icon-home"> Profile</a></li>
        </ul>
    </article>
{% else %}
    <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
{% endif %}
{% endblock %}
{% block create %}
    <h2>Welcome {{ user.username }}</h2>
    <ul>
      <li>Location: {{ user.location }}</li>
      <li>First Name: {{ user.first_name }}</li>
      <li>Last Name: {{ user.last_name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Date Joined: {{ user.date_joined }}</li>
      <li>Camera: {{ user.camera }}</li>
      <li>Active: {{ user.is_active }}</li>
      <li>Birth Date: {{ user.birth_date }}</li>
    </ul>
{% endblock %}