{% extends "django_imager/base.html" %}
{% block body %}
{% if user.is_authenticated %}
<!-- {% if registered %}
    <ul>
        <li class="tab" data-content="entries"><a href="/admin" class="icon-home" target="_blank"> Admin</a></li>
    </ul>
{% endif %} -->
    
    <li class="tab"><a href="/logout">Logout</a></li>
    <li class="tab" data-content="entries"><a href="/profile" class="icon-home"> Profile</a></li>
    <li class="tab"><a href="/user_images">Images</a></li>
{% else %}
    <li class="tab"><a href="/login"> Login</a></li>
{% endif %}
{% endblock %}
{% block create %}
    <p class='title'>Welcome {{ user.username }}</p>
    <ul>
      <li>Location: {{ user.location }}</li>
      <li>First Name: {{ user.first_name }}</li>
      <li>Last Name: {{ user.last_name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Date Joined: {{ user.date_joined }}</li>
      <li>Camera: {{ user.camera }}</li>
      <li>Active: {{ user.is_active }}</li>
      <li>Birth Date: {{ user.birth_date }}</li>
      <li>Images: {{user.images}}</li>
    </ul>
{% endblock %}